<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather Apps</title>
  <link rel="stylesheet"type="text/css" media="screen" href="css/style.css">
</head>
<body>
  <div class="container">
    <fieldset>
      <form action="/" method="POST">
        <input type="text" class="ghost-input" name="city" placeholder="Enter a City" required>
        <input type="submit" value="Get Weather" class="btn ghost-button">
      </form>

        <% if (weather !== null) { %>
          <h1>Weather Information</h1>
          <pre><%= weather %></pre>
        <% } %>
        <% if (error) { %>
          <p><%= error %></p>
        <% } %>
    </fieldset>
  </div>
</body>
</html>